/target
/Qwen3.5-0.8B-GGUF
/Qwen3.5-4B-GGUF
/screen_describer/target
/screen_describer_python/video_text_output.md
/screen_describer_zig/.zig-cache/
/screen_describer_zig/zig-out/

# Environment files
.env
.env.*
